---
import InfoButton from "../components/InfoButton.astro";

import Default from "../layouts/Default.astro";

const score = [
  {
    name: "Max",
    score: 69,
  },
  {
    name: "Cameron",
    score: 80,
  },
  {
    name: "Thea",
    score: 52,
  },
].sort((a, b) => b.score - a.score);
---

<style>
  .calender > * {
    @apply bg-gray-700 border-2 flex-1 p-3 m-1 rounded-lg;

    @media (min-width: 768px) {
      @apply bg-gray-700 border-2 flex-[1_0_21%] p-3 m-1;
    }
  }

  .calender h3 {
    @apply text-2xl text-center underline text-red-300;
  }

  .calender p {
    @apply text-xl;

    @media (min-width: 768px) {
      @apply text-lg;
    }
  }
</style>

<Default title="WEEK LONG BENDER">
  <div class="bg-stone-900 flex flex-col">
    <div class="mt-5 mx-auto"></div>
    <div class="spray">
      <h1
        id="title"
        class="text-4xl sm:text-6xl m-5 mt-0 sm:m-10 text-center font-meidum underline"
      >
        CAMERON, MAX, AND THEA HAVE COMPLETED A WEEK LONG BENDER
      </h1>
    </div>

    <div
      id="score"
      class="flex flex-col justify-center m-3 bg-stone-800 p-4
      rounded-lg border-2 shadow-slate-300 shadow-md sm:w-96 sm:mx-auto"
    >
      <div class="paint w-min-72 mx-auto bg-center">
        <h1 class="text-4xl mb-2 text-center p-3 pl-5 underline">
          FINAL SCORE (DRINKS)
        </h1>
      </div>
      {
        score.map((person) => (
          <div class="flex flex-row justify-between w-40 mx-auto">
            <h1 class="text-3xl">{person.name}:</h1>
            <h1 class="text-3xl">{person.score}</h1>
          </div>
        ))
      }
    </div>

    <div class="p-5 flex flex-col sm:flex-row justify-center">
      <button
        class="p-4 m-2 rounded-lg border-2 shadow-slate-300 shadow-md text-xl mx-auto sm:mx-2
        hover:bg-stone-700 hover:shadow-slate-200 hover:shadow-lg"
        onclick="location.href='https://www.instagram.com/weeklongbender/'"
      >
        The Instagram
      </button>
      <button
        class="p-4 m-2 rounded-lg border-2 shadow-slate-300 shadow-md text-xl mx-auto sm:mx-2
        hover:bg-stone-700 hover:shadow-slate-200 hover:shadow-lg"
        onclick="location.href='/oldindex'"
      >
        View what the site looked <br class="sm:hidden" /> like during the bender
      </button>
    </div>

    <div class="p-5 flex flex-col">
      <div class="paint w-60 mx-auto">
        <h1 class="text-4xl mb-2 text-center p-3 pl-5 underline">
          A WORD ON THE BENDER
        </h1>
      </div>
      <p class="text-xl mb-2">
        From Aug 2nd 2024, 10:00pm to Aug 9th 2024, 9:59pm Max, Cameron and Thea
        did a week long bender. This consisted of them drinking every day and
        hanging out with friends, but mostly drinking every day. Over the course
        of it they learnt so much: Who is best at golf (Cameron), what
        equestrian dancing is, how the Boeing 747 dreamliner works, how many
        beers is too many beers (18), and why we don't do all you can eat ribs
        regularly. It was insane, and tons of fun, hanging out with everyone was
        the best. But now the bender is over, and what remains is the memories,
        this website, and two Montana's rib bone buckets. It's time we get back
        to our lives, but we all look forward to the future where maybe, just
        maybe, we can do this again.
      </p>

      <div class="paint w-60 mx-auto">
        <h1 class="text-4xl mb-2 mt-2 text-center p-3 pl-5 underline">
          THE AWARDS
        </h1>
      </div>
      <p class="text-2xl mb-5 text-center">
        Most drinks in a day - Cameron<br />
        Most birthdays in the week - Thea<br />
        Tallest award - Max<br />
        Most attended - Sabine<br />
        Most drank along - Issac<br />
        Sprit of the bender - Charlie<br />
        Eppiest Soilder - Tim<br />
        Best Improvised presentation - Xander<br />
        Board Game tutorship award - Carter<br />
        Best Karaoke - Emily<br />
        Sickest boy - Daniel<br />
        Most missed events - Justin Trudeau (accepted by Jordan)<br />
      </p>
    </div>
  </div>
</Default>
