---
import Fonts from "../components/Fonts.astro";
---

<style>
  body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: white;
  }

  b {
    font-weight: 500;
  }

  .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .calender > * {
    @apply border-gray-50 bg-zinc-700 border-x-2 border-b-2 flex-1 p-3;

    @media (min-width: 768px) {
      @apply border-gray-50 bg-zinc-700 border-t-2 flex-[1_0_25%] p-3;
    }
  }

  .calender h3 {
    @apply text-2xl ml-3;
  }

  .calender p {
    @apply text-xl;

    @media (min-width: 768px) {
      @apply text-lg;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?" />
    <meta name="viewport" content="width=device-width" />
    <Fonts />
    <meta name="generator" content={Astro.generator} />
    <title>WEEK LONG BENDER</title>
  </head>
  <body class="bg-slate-900 flex flex-col">
    <div>
      <h1
        class="text-4xl sm:text-6xl m-5 mt-10 sm:m-10 text-center font-meidum underline"
      >
        MAX, CAMERON, AND THEA WILL TAKE PART IN A WEEK LONG BENDER FROM AUG 2ND
        - AUG 9th
      </h1>
    </div>
    <h3 class="text-3xl mx-auto mb-2">THE PLAN (still WIP)</h3>
    <div class="flex flex-col flex-wrap md:flex-row p-3 calender">
      <div class="border-t-2">
        <h3>Aug 2nd</h3>
        <p><b>Opening Ceremony</b> - 9pm @ Thea's</p>
      </div>
      <div>
        <h3>Aug 3rd</h3>
      </div>
      <div>
        <h3>Aug 4th</h3>
      </div>
      <div>
        <h3>Aug 5th</h3>
      </div>
      <div>
        <h3>Aug 6th</h3>
      </div>
      <div>
        <h3>Aug 7th (Thea's birthday!)</h3>
        <p>
          <b>All you can eat ribs</b> - 4pm @ Montanas (1750 Ogilvie Rd)
        </p>
        <p>
          <b>Theas birthday???</b> - Post Montanas @ Thea's
        </p>
      </div>
      <div>
        <h3>Aug 8th</h3>
      </div>
      <div>
        <h3>Aug 9th</h3>
        <p><b>Closing Ceremony and Awards</b> - 9pm @ Thea's</p>
      </div>
    </div>

    <div class="p-5">
      <h1 class="text-4xl mb-2 underline">WHAT?!?!?</h1>
      <p class="text-xl mb-2">
        Max, Cameron and Thea are attempting to do a week long bender from Aug
        2nd, 10:00pm to Aug 9th, 9:59pm. We hereby invite you to join us in this
        bender, whether it be for an evening, and activity, or the whole fucking
        week. Please.
      </p>
      <p class="text-xl mb-2">
        Ok so the basic idea is we want to have events happening near every day
        and night, if you would like to host one of these events because you are
        one of our friends PELASE let us know because we would kiss you. The
        attendees of the event you host are entirely up to you (obviously)
      </p>
      <p class="text-xl mb-2">
        The current state of the plans we have are in flux. We will be updating
        this site as we get stuff planned, if you have an idea to suggest let us
        know!
      </p>

      <h1 class="text-4xl mb-2 underline mt-5">FAQ</h1>
      <h2 class="text-2xl mb-2">Whats a bender?</h2>
      <p class="text-xl mb-2">
        We try not to fit ourselves inside a definition, but we will be
        drinking. Every day. Of the week. A follow up question might be are you
        alcoholics? No!
      </p>
      <h2 class="text-2xl mb-2">Why?</h2>
      <p class="text-xl mb-2">
        To see if we can. To challenge ourselves. To be able to say we had a
        week long bender. We are manufacturing fun.
      </p>
      <h2 class="text-2xl mb-2">Are you woried about your health?</h2>
      <p class="text-xl mb-2">
        God gave us livers for a reason. This is what you are suposed to do in
        your 20's
      </p>
    </div>
  </body>
</html>
