---
import Default from "../layouts/Default.astro";
---

<Default title="WLB | PUB CRAWL MAP">
  <div class="bg-stone-900 flex flex-col h-screen p-5">
    <a class="text-lg" href="/"
      ><i class="fa-solid fa-arrow-left pr-2"></i>Back Home</a
    >
    <div class="spray">
      <h1
        class="text-4xl sm:text-6xl m-5 mt-10 sm:m-10 text-center font-meidum underline"
      >
        OH YEA BABY ITS A BAR CRAWL MAP
      </h1>
    </div>
    <p class="text-center text-xl">Here you go:</p>
    <div class="flex flex-col sm:flex-row-reverse justify-center sm:p-5">
      <img
        class="w-auto sm:w-[28rem] object-contain rounded-md shadow-slate-300 shadow-lg my-6"
        src="map.png"
        alt="Map of bar crawl"
      />
      <div class="sm:pr-10">
        <div class="paint w-60 mx-auto">
          <h1 class="text-4xl mb-2 text-center p-3 pl-5 underline">
            The Victims
          </h1>
        </div>
        <p class="text-xl">1. The Bar in Minto idk What It's Called</p>
        <p class="text-xl">2. Father & Sons</p>
        <p class="text-xl">3. Level One Game Pub</p>
        <p class="text-xl">4. Clocktower Brew Pub</p>
        <p class="text-xl">5. Aulde Dubliner</p>
        <p class="text-xl">6. D'Arcy McGee's</p>
        <p class="text-xl">7. MacLaren's</p>
      </div>
    </div>
  </div>
</Default>
